[Desktop Entry]
Comment[en_US]=Simple X hotkey daemon
Comment=Simple X hotkey daemon
Exec=/usr/bin/sxhkd
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=sxhkd
Name=sxhkd
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Hidden=false

